body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#square {
  height: 50px;
  width: 50px;
  background-color: #4e05f0;
  margin: 0px 0px 0px 0px;
  position: absolute;
  top: 100px;
  left: 100px;
}
